  .logincontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 56px);
    color: white;
    background-color: black;
    overflow: hidden;
    padding: 28px 5px;
}

.loginwrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #202020;
    border: 1px solid #373737;
    padding: 20px 50px;
    gap: 10px;
}

.logintitle{
    font-size: 24px;
}

.loginsuntitle{
    font-size: 20px;
    font-weight: 300;
}

.logininput{
    border: 1px solid #373737;
    border-radius: 3px;
    padding: 10px;
    background-color: transparent;
    width: 100%;
    color: white;
}

.loginbutton{
    border-radius: 3px;
    border: none;
    padding: 10px 20px;
    font-weight: 500;
    cursor: pointer;
    background-color: #373737;
    color: #aaaaaa;
    height:40px
}

.loginmore{
    display: flex;
    margin-top: 10px;
    font-size: 12px;
    color: #aaaaaa;
}

.loginlinks{
    margin-left: 50px;
}

.loginlink{
    margin-left: 30px;
}

.regsiterspan{
    font-size: 12px;
}